<div class="jumbotron index-welcome">
  <div class="container">
  	<div class="transparent-box">
  	  <h1>Welcome to UperFit</h1>
      <h2>Your source for natural fitness products</h2>
    </div> <!--end of transparent-box -->   
  </div> <!--end of container -->
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <h2>Natural athlete</h2>
        <p>Are you wondering how fit you can be fully natural? Lever your full potential and be the best you can be. Grow stronger and healthier every day by relying on natural products.</p>
    </div><!-- /col -->
    <div class="col-md-4 col-xs-12">
      <h2>Healthy body</h2>
      <p>A healthy look should be really healthy. Natural products contain fewer pesticides used in farming as well as no antibiotics, growth hormones, or fed animal byproducts. Thus, healthy products also leave your body healthy.</p>
    </div><!-- /col -->
    <div class="col-md-4 col-xs-12">
      <h2>Environment</h2>
      <p>Natural, organic products are very often better for the environment as less energy is used and less pollution occurs.</p>
    </div><!-- /col -->
  </div><!-- /row -->
</div> <!-- /container -->