<table>
  <tbody>
    <tr>
      <td><h2>Received order for <%= @product.name %></h2></td>
    </tr>
    <tr>
      <td><p>Your order is on your way!</p></td>
    </tr>
    <tr>
      <td><p><strong>Thank you for shopping at <%= @appname %>!</strong></p></td>
    </tr>
  </tbody>
</table>

